*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#my-header{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    h2 {
        text-decoration: underline;
    }
    a {
        color: black;
        text-decoration: none;
        margin-left: 1rem;
    }
}

#shop-basket {
    margin-left: 15px;
    font-size: 20px;
    color: gray;
}

main {
    flex-grow: 1;
    
}

#sec-principal {
    h2 {
        text-align: center;
        padding-top: 30px;
    }
    p{
        text-align: center;
        padding: 10px;
    }
}

#contador {
    
    border-radius: 20px;
    width: 20%;
    padding: 10px 0px;
    margin: 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#contador .prod{
    text-align: center;
    p {
        font-size: 10px;
    }
}

#contador .count{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

.btn-card{
    text-align: center;
    padding-top: 5px;
    .boton{
        border-radius: 10px;
        border: 1px solid black;
    }
}
.productos{
    display: flex;
    flex-direction: row;
}

.item {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    flex: 1;
}