*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

// HEADER
#my-header{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    h2 {
        text-decoration: underline;
    }
    a {
        color: black;
        text-decoration: none;
        margin-left: 1rem;
    }
}

#shop-basket {
    margin-left: 15px;
    font-size: 20px;
    color: gray;
}


// MAIN
main {
    flex-grow: 1;
    
}

#sec-principal {
    h2 {
        text-align: center;
        padding-top: 30px;
    }
    p{
        text-align: center;
        padding: 10px;
    }
}

#contador {
    
    border-radius: 20px;
    width: 20%;
    padding: 10px 0px;
    margin: 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#contador .prod{
    text-align: center;
    p {
        font-size: 10px;
    }
}

#contador .count{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

.btn-card{
    text-align: center;
    padding-top: 5px;
    .boton{
        border-radius: 10px;
        border: 1px solid black;
    }
}
.productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin-top: 20px;
    .item {
        border: 1px solid black;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        text-align: center;
        padding: 15px;
        flex: 1;
    }
    img {
        width: 100%;
        height: auto;
    }
}

#detalle {
    .detallesProductos{
        h2{
            text-align: center;
            padding-top: 20px;
        }
        
        .productosDetalles{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            img{
                width: 60%;
                padding: 15px;
                margin-left: 130px;
            }
            div {
                padding: 50px;
                p {
                    font-size: 30px;
                }
            }
        }
    }
    
}

